@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url(./HelveticaNeueCyr-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeueBold';
    font-weight: 900;
    src: local('HelveticaNeueBold'), url(./HelveticaNeueCyr-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    font-weight: 600;
    src: local('HelveticaNeueMedium'), url(./HelveticaNeueCyr-Medium.ttf) format('opentype');
}