@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./content/fonts/Nunito-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 900;
    src: local('Nunito'), url(./content/fonts/Nunito-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url(./content/fonts/HelveticaNeueCyr-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 900;
    src: local('HelveticaNeue'), url(./content/fonts/HelveticaNeueCyr-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 600;
    src: local('HelveticaNeue'), url(./content/fonts/HelveticaNeueCyr-Medium.ttf) format('opentype');
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
